<div id="mdlcloneormove" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-move-copy" role="document">
    <div class="modal-content">
      <div class="modal-body">
      	<div class="row">
			<div class="col-xs-6">
				<button type="button" class="btn btn-primary" onclick="rdClone()">Create A Copy</button>
			</div>
			<div class="col-xs-6 align-right">
				<button type="button" class="btn btn-success" onclick="rdMove()">Move</button>
			</div>
		</div>
      </div>
    </div>
  </div>
</div>