<link href="/web-cb/static/css/core/scorecard_fullyearprojection.css?nocache_counter=2" type="text/css" rel="stylesheet" />
<script src="/web-cb/static/core/scorecard_fullyearprojection.js"></script>
<div data-bind="with:ScorecardFullyearProjection" id="ScorecardFullyearProjection">
	<!-- Please dont forget to use row > col-sm-12 -->
	<div class="col-sm-12 no-padding">
		<div class="row">
            <!-- <div class="col-sm-4"><div id="data-table3-width">&nbsp;</div></div> -->
            <div class="col-sm-12"><div id="data-visualisation3-width">&nbsp;</div></div>
        </div>
        <div class="row">
            <!-- <div class="col-sm-4"><div id="data-table3" style="width: 100%;"></div></div> -->
            <div class="col-sm-12"><div id="data-visualisation3"></div></div>
        </div>
	</div>
</div>