<!-- LOAD GRID GROUP -->
<div class="row" data-bind="">
    <div class="col-md-12">
        <div>
            <div class="box-title">
                <!-- <h3><i class="fa fa-random"></i> Data Group User</h3> -->
                <div class="actions padding-bottom">
                    <button class="btn btn-sm btn-success" data-bind="visible:!adm.addGroup()">
                        <i class="fa fa-refresh"></i> Refresh
                    </button>
                    <button class="btn btn-sm btn-success" data-bind="visible:!adm.addGroup(), click:adm.addFormGroup">
                        <i class="fa fa-plus"></i> Add
                    </button>
                    <button class="btn btn-sm btn-success" data-bind="visible:adm.addGroup(), click: function(){ adm.addGroup(false),adm.btnSaveGroup(false),adm.updateGroup(false) }">
                        <i class="fa fa-angle-left"></i> Back
                    </button>
                    <button id="btnSaveGroup" class="btn btn-sm btn-success" data-bind="visible:adm.btnSaveGroup(), click: grp.doSaveGroup">
                        <i class="fa fa-save"></i> Save
                    </button>
                    <button data-bind="visible:adm.updateGroup(), click: grp.doSaveGroup" class="btn btn-sm btn-success">
                        <i class="fa fa-save"></i> Update
                    </button>
                </div>
            </div>
            <div class="box-content">
                <div data-bind="visible:!adm.addGroup()">
                    <div>
                        <div class="grid" id="gridGroupAdministrator"></div>
                    </div>
                </div>
                <div data-bind="visible:adm.addGroup()">
                    <div class=""><br>
                        <div class="col-md-12" data-bind="with:grp">
                            <form id="formAddGroup" class='form-horizontal'>
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label class="control-label col-sm-4">Id Group</label>
                                            <div class="col-sm-6">
                                                <input type="text" name="groupid" id="groupid" class="form-control" name="groupid" placeholder="Type the Id Group Here" data-bind="value: Id" required validationMessage="Enter Group ID" data-checkalphabet-field="HireDate" data-checkalphabet-msg="Only Letter Is Accepted In Group ID">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-4">Group Name</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="groupname" class="form-control" name="groupname" placeholder="Type the Group Name Here" data-bind="value: Name" required validationMessage="Enter Group Name" >
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-4">Group Type</label>
                                            <div class="col-sm-6">
                                                <input id="grouptype" type="number" value="0" min="0" max="100" step="1" style="width: 100%;" data-bind="value:groupType" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-4">Enable</label>
                                            <div class="col-sm-6">
                                                <label class="switch">
                                                    <input id="role" type="checkbox" id="enablegroup" data-bind="checked: checked">
                                                    <div class="slidersw round"></div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div style="border: 1px solid #ccc; margin-bottom: 15px;">
                                            <div id="MasterGridMenu"></div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>